body {
  color: #666;
  letter-spacing: 0;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #666;
  }
}

/**
 * typography
 **/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
}
